.footerContainer {
    background-color: white;
    width: 100%;
    right: 5%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    box-sizing: border-box;
    height: 65%;
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    border: 0.5px solid white;
    color: #23242A;

}
.footerContainer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    padding-right: 10%;
    box-sizing: border-box;
    font-size: 1.2rem;

}
.footerContainer ul a {
    list-style-type: none;
    color: black;
}
.footerContainer ul a:hover{
    color: #4464f6  ;
}

.footerContainer ul a.active {
    color: #4464f6  ;

}

