.footerContainer {
    background-color: white;
    width: 90%;
    display: block;
    box-sizing: border-box;
    height: 95%;
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.footerContainer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footerContainer ul li {
    list-style-type: none;
}