.homeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
    padding-left: 25px;
    width: 100%;
    height: fit-content;box-sizing: border-box;

}
.header div {
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.header div p {
    font-size: 0.8rem ;
    margin-bottom: 3px;
}
.header div h4{
    font-size:1rem ;
    margin: 0;
    padding: 0;

}
.header img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    padding-top: 5px ;
}
.ourMoney{
    width: 90%;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right,#000080,#6495ED);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.ourMoney div {
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ourMoney div p ,
.ourMoney div h2 ,
.ourMoney div h5{
    margin: 0;
    padding: 0;

}
.bestcoins {
    overflow-x: scroll;
    width: 95%;
    height: fit-content;
    display: flex;
    scroll-snap-type: x mandatory;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    /* flex-wrap: wrap ; */

}
::-webkit-scrollbar {
    width: 100%;
    background: transparent; 
    }